/* Green color for text */
.greater-than {
  color: #080;
}

/* Red color for text */
.lesser-than {
  color: #800;
}

.vote-div {
  width: 50%;
  text-align: center;
  display: inline-block;
  float: left;
}

.vote-button {
  padding-top: 15px;
}

.header {
  text-align: center;
}

.gender-icon {
    font-size: 100px;
}