<!DOCTYPE html>

<html>

    <head>
        <title>Poll App</title>

        <!-- jQuery -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
          integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
        <!-- Custom CSS-->
        <link rel="stylesheet" type="text/css" href="/css/style.css">
        <!-- Bootstrap JS-->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"
            integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS"
            crossorigin="anonymous"></script>
        <!-- Angular JS -->
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
        <!-- App -->
        <script src="js/app.js"></script>
    </head>

    <body ng-app="pollApp">

        <div class="container" ng-controller="pollCtrl">

            <h1>I am...</h1>

            <div id="male">
                <h2>Male</h2>
                <div ng-class="malePercentage>femalePercentage ? 'text-success' : 'text-danger'">
                    {{ malePercentage }}%
                </div>
                <button ng-click="incrementMale()">Vote</button>
            </div>

            <div id="female">
                <h2>Female</h2>
                <div ng-class="malePercentage<femalePercentage ? 'text-success' : 'text-danger'">
                    {{ femalePercentage }}%
                </div>
                <button ng-click="incrementFemale()">Vote</button>
            </div>

        </div>

    </body>

</html>